
<div class="logindiv">
  <div class="container">
    <div class="row"> 
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">Peddler App - Ingreso</div>
          <div class="card-body">
            <label>Usuario</label>
            <input type="email" class="form-control" placeholder="Dirección de correo / email" required autofocus>
            <br />
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Password" required>
            <hr />
            <a role="button" class="btn btn-primary btn-block active-route">Ingresar</a>
            <a role="button" class="btn btn-secondary btn-block">Cancelar</a>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>